/*PÁGINA 1*/

/* /PÁGINA 1*/

/*PÁGINA 2*/
.pagina, header, footer{background-color: #eeeeee;}
.container{background: transparent;}
.pagina2 .bt-globo{
    border: none;
    background: transparent;
    margin: 20px auto;
    display: block;
}
.pagina2 .destaque-dica{
    background: url('../imgs/pagina2/dest_dica.png') no-repeat;
    width: 865px;
    height: 299px;
    padding: 50px;
    padding-left: 200px;
}
.pagina2 .bt-tooltip{color: #000;}
.pagina2 .bloco-verde{
    background: #004f53;
    padding: 100px 0;
}
.pagina2 .bloco-verde p, 
.pagina2 .bloco-verde a{color: #fff;}
.pagina2 .rellax {
    position: absolute;
    z-index: 9;
}
.pagina2 .par-1 {
    top: 400px;
    right: 0;
    width: 20%;
}
.pagina2 .par-2 {
    top: 1000px;
    left: 0;
    width: 20%;
}
.pagina2 .par-3 {
    top: 3100px;
    right: 0;
    width: 20%;
}
.pagina2 .bloco3{padding: 100px 0;}
.pagina2 .par-4 {
    top: 5300px;
    left: 0;
    width: 20%;
}
.pagina2 .par-5 {
    top: 6200px;
    right: 0;
    width: 20%;
}
.pagina2 .par-6 {
    top: 7400px;
    left: 0;
    width: 20%;
}
.pagina2 .par-7 {
    top: 8900px;
    right: 0;
    width: 20%;
}
.pagina2 .par-8 {
    top: 9900px;
    left: 0;
    width: 20%;
}
.pagina2 .bloco4{
    -webkit-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
}
.pagina2 .bloco5{
    padding: 100px 0;
    background: url('../imgs/pagina2/bg_elem_bloco.png') no-repeat;
    background-size: cover;
}
.pagina2 .bloco6{
    padding: 100px 0;
    -webkit-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
}
.pagina2 .par-9 {
    top: 10900px;
    left: 0;
    width: 20%;
}
.pagina2 .par-10 {
    top: 11700px;
    right: 0;
    width: 20%;
}
.pagina2 .bloco7{
    padding: 100px 0;
}
.pagina2 .painel1 button{
    width: 427px;
    height: 544px;
    margin-bottom: 20px;
    border: none;
    background-position: center;
}
.pagina2 .painel1 .bt-direitosmuculmanas{
    background: url('../imgs/pagina2/card_01.png') no-repeat;
}
.pagina2 .painel1 .bt-direitosmuculmanas:hover{
    background: url('../imgs/pagina2/card_01_hover.png') no-repeat;
}
.pagina2 .painel1 .bt-direitosbrasil{
    background: url('../imgs/pagina2/card_02.png') no-repeat;
}
.pagina2 .painel1 .bt-direitosbrasil:hover{
    background: url('../imgs/pagina2/card_02_hover.png') no-repeat;
}
/* /PÁGINA 2*/

/*PÁGINA 3*/

/* /PÁGINA 3*/

/*PÁGINA 4*/
.pagina4 ol li{
    min-height: 50px;
    padding-left: 55px;
    list-style: none;
    margin-bottom: 10px;
}
.pagina4 .li1{background: url('../imgs/pagina4/num1.png') no-repeat left top;}
.pagina4 .li2{background: url('../imgs/pagina4/num2.png') no-repeat left top;}
.pagina4 .li3{background: url('../imgs/pagina4/num3.png') no-repeat left top;}
.pagina4 .li4{background: url('../imgs/pagina4/num4.png') no-repeat left top;}
.pagina4 .bloco-verde{
    background: #004f53;
    padding: 100px 0;
}
.pagina4 .bloco-verde p, 
.pagina4 .bloco-verde a{color: #fff;}
.pagina4 .bloco3{
    -webkit-box-shadow: inset 0px 6px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 6px 15px -8px rgba(0,0,0,0.75);
    box-shadow: inset 0px 6px 15px -8px rgba(0,0,0,0.75);
}
.pagina4 .bloco1,
.pagina4 .bloco3,
.pagina4 .bloco5{
    background: url('../imgs/pagina4/bg_branco.png') no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
    background-size: cover;
}
.pagina4 .img-divisoria{margin: -100px 0;}
.pagina4 .bloco2{padding-top: 150px;}
.pagina4 .painel1 button{
    border: none;
    margin-bottom: 10px;
}
.pagina4 .bt-idh{
    background: url('../imgs/pagina4/bt1.png') no-repeat;
    width: 302px;
    height: 113px;
}
.pagina4 .bt-gini{
    background: url('../imgs/pagina4/bt2.png') no-repeat;
    width: 222px;
    height: 113px;
}
.pagina4 .bt-idh:hover{background: url('../imgs/pagina4/bt1_hover.png') no-repeat;}
.pagina4 .bt-gini:hover{background: url('../imgs/pagina4/bt2_hover.png') no-repeat;}
.pagina4 .bloco4{
    padding-bottom: 150px;
}
.pagina4 .bloco-verde .modal *{color: #000;}
.pagina4 .container{padding: 0 50px;}
.pagina4 .rellax {
    position: absolute;
    z-index: 9;
}
.pagina4 .par-1 {
    top: 1600px;
    right: 0;
    width: 20%;
}
.pagina4 .par-2 {
    top: 3300px;
    left: 0;
    width: 20%;
}
.pagina4 .par-3 {
    top: 3700px;
    right: 0;
    width: 20%;
}
.pagina4 .par-4 {
    top: 5100px;
    left: 0;
    width: 20%;
}
.pagina4 .infografico-clicavel{
    background: url('../imgs/pagina4/figura_13.png') no-repeat;
    width: 768px;
    height: 718px;
    position: relative;
}
.pagina4 .infografico-clicavel .graficos{
    position: absolute;
    background: url('../imgs/pagina4/figura_13b.png') no-repeat;
    width: 0;
    height: 248px;
    top: 205px;
    left: 230px;
    transition: all 0.4s;
}
.pagina4 .infografico-clicavel button{
    position: absolute;
    width: 65px;
    height: 35px;
    bottom: 200px;
    background: transparent;
    transition: all 0.4s;
}
.pagina4 .infografico-clicavel button:hover{transform: scale(1.1);}
.pagina4 .infografico-clicavel .ano-2012{left: 222px;}
.pagina4 .infografico-clicavel .ano-2013{left: 311px;}
.pagina4 .infografico-clicavel .ano-2014{left: 401px;}
.pagina4 .infografico-clicavel .ano-2015{left: 490px;}
.pagina4 .infografico-clicavel .ano-2016{left: 580px;}
/* /PÁGINA 4*/

/*PÁGINA 5*/

/* /PÁGINA 5*/

.link-inicial{
    height: 37px;
    margin-top: 8px;
    text-transform: uppercase;
}
.btn-sesc{
    border: 4px solid #00a7b3;
    color: #00a7b3;
    font-weight: normal;
    font-size: 1.1rem;
    padding: 0px 12px;
    background-color: #eeeeee;
}
footer .active{
    transform: translateY(-5px);
    background-color: #E5FDFF;
}

@media screen and (max-width: 780px){
    .pagina2 .bloco5{
        background-size: contain;
    }
    .pagina4 .infografico-clicavel{margin-left: -42px !important;}
}
@media screen and (max-width: 580px){
    .pagina2 .painel1 button{
        transform: scale(0.8);
        margin: -40px 0;
        margin-left: -60px;
    }
    .pagina4 .painel1{
        transform: scale(0.8);
        margin-left: -27px;
    }
}